{{>common/header}}
<title>게 시 판</title>
</head>
<link rel="stylesheet" type="text/css" href="/static/css/board/notice.css">
<link rel="stylesheet" type="text/css" href="/static/css/board/comment.css">
<body>
	<div class="noticeView pb-4">
		<div class="container">
			<div class="notice_panel">
			{{#notice}}
				<div class="row notice_title_row">
					<div class="col py-0">
						<h2 class="notice_title my-0 py-0">{{title}}</h2>
					</div>
				</div>
				<div class="row notice_sub_row">
					<div class="col-md-7 col-sm-12 align-bottom">
						작성자 : {{userId}}
					</div>
					<div class="col-md-3 col-sm-12 .align-bottom">
						작성일자 : {{createDate}}
					</div>
					<div class="col-md-2 col-sm-12 .align-bottom">
						조회수 : {{viewCnt}} View
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col d-flex flex-lg-row justify-content-center">
						<textarea class="form-control" id="noticeContents" name="contents" rows="3" readonly>{{contents}}</textarea>
					</div>
				</div>
				<div class="row">
					<div class="col d-flex justify-content-end notice_btn">
						<form id="noticeTask" class = "btn my-1 px-1 py-0" method = "post">
							<!-- <input type="hidden" id="boardNoticeId" name="noticeId" value="{{noticeId}}"> -->
							<div class="d-flex flex-row justify-content-end">
								<a class="btn notice_save_btn my-1 px-1 py-0 mr-2" role="button" href="/board" style="font-size:15px;">목록</a>
								{{#adminYn}}
									<a class="btn notice_save_btn my-1 px-1 py-0 mr-2" role="button" href="/admin/notice/{{notice.noticeId}}/edit" style="font-size:15px;">수정</a>
									<button class="btn notice_del_btn my-1 px-1 py-0" style="font-size:15px;" onclick="confirmDelete('{{noticeId}}')" type="button">삭제</button>
								{{/adminYn}}
							</div>
						</form>
					</div>
				</div>
			</div>
			{{/notice}}
		</div>

		<hr>
		
		<div class="container">
			{{#commentDtos}}
			<div class="row">
				<div class="col">
					<div class="comments_panel">
							<div class="row notice_sub_row mb-0 mt-1">
								<div class="col d-flex align-items-center">
									<p class="comment_user my-1 mr-3">{{userId}}</p>
									{{#sameUserYn}}
									<ul class="list-inline d-flex flex-row justify-content-center my-1" id="find_wrap">
										<li><a id="commentUptBtn" href='javascript:void(0);' onclick="main.commentUpdate(this);" class="find_text">수정</a></li>
										<li class="find_separator">|</li>
										<li><a id="commentDelBtn" href='javascript:void(0);' onclick="main.commentDelete(this);" class="find_text">삭제</a></li>
									</ul>
									{{/sameUserYn}}	
								</div>
							</div>
							
							<form id="commentTask_{{commentId}}" class="mt-1" method="post" enctype="application/x-www-form-urlencoded">
								<div class="row mt-0">
									<textarea class="form-control comment_textarea" id="uptContents" name="contents" {{^sameUserYn}}readonly{{/sameUserYn}}>{{contents}}</textarea>
								</div>
								<div class="row">
									<div class="col">
										<input type="hidden" id="uptUserId" name="userId" value="{{userId}}">
										<input type="hidden" id="uptNoticeId" name="noticeId" value="{{noticeId}}">
										<input type="hidden" id="uptCommentId" name="commentId" value="{{commentId}}">
									</div>
								</div>
							</form>
					</div>
				</div>
			</div>
			{{/commentDtos}}
			{{#userId}}
			<div class="row">
				<div class="col">
					<div class="comments_panel">
						<form class="mt-3" method="post">
							<input type="hidden" id="submitUserId" name="userId" value="{{userId}}">
							<input type="hidden" id="submitNoticeId" name="noticeId" value="{{notice.noticeId}}">
							<div class="mb-3">
								<label for="commentContents" class="commentLabel">댓글</label>
								<textarea class="form-control" id="submitCommentContents" name="contents" rows="3"></textarea>
							</div>
							<div class="content_btn d-flex justify-content-end">
								<button id="commentSaveBtn" class="btn content_save_btn mb-3 px-1 py-0" style="font-size:15px;" type="button">댓글 등록</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			{{/userId}}
		</div>
		
	</div>
</body>

{{>common/footer}}	
<script src="/static/js/board/notice.js"></script>
<script src="/static/js/board/comment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
