{{>common/header}}
<title>게 시 판</title>
</head>
<link rel="stylesheet" type="text/css" href="/static/css/board/notice.css">
<body>

<div class="noticeList">
	<div class="container">
		<div class="notice_panel">
			{{^notice}}
            <div class="row">
				<div class="col">
					<h2 class="notice_title text-center">새글 등록</h2>
				</div>
			</div>
            <div class="row">	
                <div class="col">					
					<!-- {{^notice}} -->
					<form class="mt-3" action="/admin/notice/save" method="post">
						<div class="mt-3">
							<label for="noticeTitle" class="noticeLabel">제목</label>
                            <input type="text" class="form-control" name="title" id="noticeTitle">
							<label for="noticeContents" class="noticeLabel">내용</label>	
                            <textarea class="form-control" id="noticeContents" name="contents" rows="3"></textarea>
							<div class="notice_btn d-flex justify-content-end">
								<button class="btn notice_save_btn my-1 px-1 py-0" style="font-size:15px;" type="submit">저장</button>
                        </div>
					</form>
					<!-- {{/notice}} -->
				</div>
			</div>
			{{/notice}}

			{{#notice}}
				<div class="col">
					<h2 class="notice_title text-center">글 수정</h2>
				</div>
					<form class="mt-3" action="/admin/notice/{{noticeId}}/update" method="post">
                        <div class="mb-3">
							<input type="hidden" name="userId" value="{{userId}}">
                            <label for="noticeTitle" class="noticeLabel">제목</label>
                            <input type="text" class="form-control" name="title" id="noticeTitle" value="{{title}}" required>
                            <label for="noticeContents" class="noticeLabel">내용</label>
                            <textarea class="form-control" id="noticeContents" name="contents" rows="3">{{contents}}</textarea>
							<div class="notice_btn d-flex justify-content-end">
								<button class="btn notice_save_btn my-1 px-1 py-0" style="font-size:15px;" type="submit">저장</button>
						</div>
					</form>	
                </div>
			{{/notice}}
            </div>
		</div>
	</div>
</div>
</body>

{{>common/footer}}	
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>

