<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/findPwd2" method="post">
        <label for="pwd">* Password: </label>
        <input type="password" name="userPw" placeholder="비밀번호를 입력하세요." required> <small>최소 8글자</small>
        <br>
        <label for="pwd_equal"> Password 확인: </label>
        <input type="password" placeholder="비밀번호 확인">
        <br>
        <input type="submit" value="회원가입">
</body>
</html>